.userList {
  margin: 2rem 10vw 0 10vw;
  .labels {
    background: white;
    line-height: 3rem;
    height: 3rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075);
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    p {
      padding: 0 0 0 1rem;
      border: 0.2px solid rgb(197, 195, 195);
    }
    p:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    p:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
