.overviewPage {
  background: rgb(240, 240, 240);
  display: grid;
  grid-template-columns: 30% 70%;
  .nodeList {
    height: calc(100vh - 72px);
    width: 100%;
    background: rgb(240, 240, 240);
    padding: 0.5rem 1rem;
  }
  .noNodeSelected {
    background: rgb(255, 255, 255);
    height: calc(100vh- 72px);
    width: 100%;
    font-size: 40px;
    text-align: center;
    p {
      padding: 20%;
      color: rgb(189, 187, 187);
    }
  }
  .view {
    height: calc(100vh- 72px);
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 1rem;
    .title {
      width: 100%;
      text-align: center;
      padding: 1rem 1rem 2rem 1rem;
      font-size: larger;
    }
    .controller {
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media only screen and (max-width: 1170px) {
  .controller {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
  }
}
@media only screen and (max-width: 815px) {
  .controller {
    display: grid;
    grid-template-columns: 1fr !important;
  }
}
