<app-pop-up></app-pop-up>
<div class="grid container-fluid">
  <div class="row subheader shadow"></div>
  <section class="row">
    <div class="col-3 nodes">
      <app-node-list-item [node]="node" *ngFor="let node of nodes" [routerLink]="['/overview', node._id]"
        routerLinkActive="active">
      </app-node-list-item>
    </div>
    <main class="col-9">
      <!-- <div class="noNodeSelected" *ngIf="activeNode == null">
        <p>Select a farm</p>
      </div> -->
      <div class="view" *ngIf="activeNode != null">
        <div class="title">
          <h2>{{activeNode.label}}</h2>
        </div>
        <app-graph [nodeInfo]=activeNode></app-graph>
        <div class="controller">
          <app-controller *ngFor="let actuator of activeNode.actuators" [actuator]="actuator"></app-controller>
          <app-value-card *ngFor="let sensor of activeNode.sensors" [sensor]="sensor"></app-value-card>
        </div>
      </div>
    </main>
  </section>
</div>
<!-- <div class="overviewPage">
</div> -->
