.subheader {
  position: fixed;
  top: 72px;
  z-index: 66;
  width: 100%;
  height: 64px;
  background: rgb(255, 255, 255);
}

section {
  position: fixed;
  top: 136px;
  z-index: 55;
  width: 100%;
}

.nodes {
  height: calc(100vh - 136px);
  width: 100%;
  background: rgba(85, 215, 122);
  padding-top: 1.5rem;
}

.noNodeSelected {
  background: rgb(255, 255, 255);
  height: calc(100vh- 72px);
  width: 100%;
  font-size: 40px;
  text-align: center;
  p {
    padding: 20%;
    color: rgb(189, 187, 187);
  }
}

main {
  overflow-y: auto;
  padding-top: 2rem;
  max-height: calc(100vh - 136px);
}

.view {
  .title {
    width: 100%;
    text-align: center;
    padding: 1rem 1rem 2rem 1rem;
    font-size: larger;
  }
  .controller {
    padding: 1rem;
  }
}
@media only screen and (max-width: 1170px) {
  .controller {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
  }
}
@media only screen and (max-width: 815px) {
  .overviewPage {
    grid-template-columns: 12% 87%;
    .nodeList {
      padding: 0;
    }
    .controller {
      display: grid;
      grid-template-columns: 1fr !important;
    }
  }
}
