<div class="overviewPage">
  <div class="nodeList">
    <app-node-list-item [node]="node" *ngFor="let node of nodes" (click)="selectNode(node)"></app-node-list-item>
  </div>
  <div class="view">
    <div class="title">
      <p>{{clickedNode}}</p>
    </div>
    <div class="charts">
      <canvas #chartCanvas></canvas>
    </div>
    <div class="controller">
      <app-controller></app-controller>
      <div class="control">
        <p>Water Temperature</p>
        <p>30 degrees</p>
      </div>
      <div class="control">
        <p>Relative Humidity</p>
        <p>10 degrees</p>
      </div>
      <div class="control">
        <p>Ph scale</p>
        <p> 6</p>
      </div>
    </div>
  </div>
</div>