.topNavigation {
  position: fixed;
  height: 3rem;
  width: 100vw;
  background: #E5E5E5;
  opacity: 30%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .logo {
    text-align: center;

    h2 {
      line-height: 3rem;
    }

    .smallLogo {
      img {}
    }
  }

  .spacer {}

  .navTabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .tab {
      text-align: center;
    }
  }

  .loginButton {}
}
