<app-public-navigation></app-public-navigation>
<div>
  <div class="firstFocus">
    <div class="photo">
      <img src="../../../../assets/Farmlab2.jpg" alt="">
    </div>
    <div class="aboutText">
      <p>Farmlab</p>
      <div class="about">
        <p>Farmlab is a hydrophonics based farm. This means that the plants are not put in soil but in water. The plants
          will grow in the best possible circumstances. Everything in the farm is monitored through sensors. All this
          information is shown in an online platform where you can monitor your farms and also change the grow plans.
        </p>
      </div>
    </div>
  </div>
  <div class="cards">
    <div class="card">
      <p>Monitoring</p>
      <div class="list">
        <ul>
          <li>- growth of the plant</li>
          <li>- waterlevel of the plant reservoir</li>
          <li>- light intensity</li>
          <li>- ph value of the water</li>
          <li>- nutritien of the plants</li>
        </ul>
      </div>
      <div class="info">
        <p>The farm is monitored with smart sensors so we can see the realtime value of all monitored objects.</p>
      </div>
    </div>
    <div class="card">
      <p>Hydroponics</p>
      <div class="list">
        <ul>
          <li>- planted in water</li>
          <li>- more optimal growing conditions</li>
          <li>- better monitoring of the plants</li>
        </ul>
      </div>
      <div class="info">
        <p>Hydroponics is a growing technique where you put the plants in water instead of soil. The plants need less
          effort to get there nutritients to grow optimal.</p>
      </div>
    </div>
    <div class="card">
      <p>Controlling</p>
      <div class="list">
        <ul>
          <li>- water flow</li>
          <li>- nutritien flow</li>
          <li>- light intensity</li>
          <li>- plant programs</li>
        </ul>
      </div>
      <div class="info">
        <p>You can control/adjust the farm actuator values. Change the plan of your farm to a different grow plan for
          other plants.</p>
      </div>
    </div>
  </div>
  <!--<app-public-footer></app-public-footer>-->
</div>
