<app-public-navigation></app-public-navigation>
<div class="farms">
  <app-public-node-card *ngFor="let node of nodes" [node]='node'></app-public-node-card>
  <app-public-node-card *ngFor="let node of nodes" [node]='node'></app-public-node-card>
  <app-public-node-card *ngFor="let node of nodes" [node]='node'></app-public-node-card>
  <app-public-node-card *ngFor="let node of nodes" [node]='node'></app-public-node-card>
  <app-public-node-card *ngFor="let node of nodes" [node]='node'></app-public-node-card>
</div>
<!-- <div class="divider"></div> -->
<div class="farmTitle">
  <p>{{publicDataSvc.activePage.label}}</p>
</div>
<div class='showPage' *ngIf="publicDataSvc.activePage != null">
  <div class="graphs">
    <app-air-humidity></app-air-humidity>
    <app-air-temperature></app-air-temperature>
    <app-water-temperature></app-water-temperature>
    <app-light-intensisty></app-light-intensisty>
  </div>
</div>
