.farms {
  padding: 5rem 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.divider {
  height: 1px;
  margin: 3rem 1rem 3rem 1rem;
  background: #4CAF50;
}

.farmTitle {
  margin: 1rem 2rem;
}

.showPage {
  margin: 1rem 2rem;

  .graphs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
