.farms {
  margin: 0 0 4rem 0;
  padding: 5rem 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
}

.divider {
  height: 1px;
  margin: 3rem 1rem 3rem 1rem;
  background: #4CAF50;
}

.farmTitle {
  margin: 2rem 2rem;
  text-align: center;

  p {
    font-size: 32px;
  }
}

.showPage {
  margin: 1rem 2rem;

  .graphs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }
}
