<form action="">
  <h3>Login</h3>

  <label for="">Email</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">M</span>
    </div>
    <input type="text" class="form-control" placeholder="Your email">
  </div>


  <label for="">Password</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">M</span>
    </div>
    <input type="text" class="form-control" placeholder="Your password">
  </div>

  <button type="submit">Log In</button>

</form>
